<html>
<body>
    <div class="login">
       <h1>Student Exam Performance Indicator</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Student Exam Performance Prediction</legend>
        </h1>
        
        <div class="mb-3">
            <label class="form-label">Time</label>
            <input class="form-control" type="number" name="Time"
                placeholder="Enter your Time" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V1</label>
            <input class="form-control" type="number" name="V1"
                placeholder="Enter your V1" min='0' max='100' />
        </div>
        
        <div class="mb-3">
            <label class="form-label">V2</label>
            <input class="form-control" type="number" name="V2"
                placeholder="Enter your V2" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V3</label>
            <input class="form-control" type="number" name="V3"
                placeholder="Enter your V3" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V4</label>
            <input class="form-control" type="number" name="V4"
                placeholder="Enter your V4" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V5</label>
            <input class="form-control" type="number" name="V5"
                placeholder="Enter your V5" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V6</label>
            <input class="form-control" type="number" name="V6"
                placeholder="Enter your V6" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V7</label>
            <input class="form-control" type="number" name="V7"
                placeholder="Enter your V7" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V8</label>
            <input class="form-control" type="number" name="V8"
                placeholder="Enter your V8" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V9</label>
            <input class="form-control" type="number" name="V9"
                placeholder="Enter your V9" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V10</label>
            <input class="form-control" type="number" name="V10"
                placeholder="Enter your V10" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V11</label>
            <input class="form-control" type="number" name="V11"
                placeholder="Enter your V11" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V12</label>
            <input class="form-control" type="number" name="V12"
                placeholder="Enter your V12" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V13</label>
            <input class="form-control" type="number" name="V13"
                placeholder="Enter your V13" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V14</label>
            <input class="form-control" type="number" name="V14"
                placeholder="Enter your V14" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V15</label>
            <input class="form-control" type="number" name="V15"
                placeholder="Enter your V15" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V16</label>
            <input class="form-control" type="number" name="V16"
                placeholder="Enter your V16" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V17</label>
            <input class="form-control" type="number" name="V17"
                placeholder="Enter your V17" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V18</label>
            <input class="form-control" type="number" name="V18"
                placeholder="Enter your V18" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V19</label>
            <input class="form-control" type="number" name="V19"
                placeholder="Enter your V19" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V20</label>
            <input class="form-control" type="number" name="V20"
                placeholder="Enter your V20" min='0' max='100' />
        </div>
        
        <div class="mb-3">
            <label class="form-label">V21</label>
            <input class="form-control" type="number" name="V21"
                placeholder="Enter your V21" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V22</label>
            <input class="form-control" type="number" name="V22"
                placeholder="Enter your V22" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V23</label>
            <input class="form-control" type="number" name="V23"
                placeholder="Enter your V23" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V24</label>
            <input class="form-control" type="number" name="V24"
                placeholder="Enter your V24" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V25</label>
            <input class="form-control" type="number" name="V25"
                placeholder="Enter your V25" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V26</label>
            <input class="form-control" type="number" name="V26"
                placeholder="Enter your V26" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V27</label>
            <input class="form-control" type="number" name="V27"
                placeholder="Enter your V27" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">V28</label>
            <input class="form-control" type="number" name="V28"
                placeholder="Enter your V28" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">Amount</label>
            <input class="form-control" type="number" name="Amount"
                placeholder="Enter your Amount" min='0' max='100' />
        </div>


        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your Maths Score" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>